.dashboard-bg {
  background: linear-gradient(135deg, #f8f8f8, #ffffff);
  padding: 0;
  margin: 0;
}

.header-gradient {
  background: "black";
  color: rgb(4, 4, 4);
  font-weight: bold;
}

.dashboard-center-title {
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(2, 2, 2);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* make sure parent has a fixed height */
}


.map-header-bar {
  background: "transparent";
  color: rgb(3, 3, 3);
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.soil-data-btn:hover {
  background: rgba(10, 38, 4, 0.25);
  transform: scale(0.90);
}

.soil-data-btn {
  color: #040404 !important;
  font-weight: 700;
  letter-spacing: 0.5px;

  border-radius: 10px;
  padding: 6px 14px;
  transition: background 0.3s ease, transform 0.2s ease;
}

.soil-data-btn.active {
  background: rgb(255, 255, 255);
}

/* 🖤 Black floating soil data form */
.floating-soil-box {
  position: absolute;
  top: 70px;
  right: 25px;
  background: #fcfcfc;
  color: rgb(0, 0, 0);
  padding: 16px;
  border-radius: 12px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.8);
  width: 280px;
  max-height: 85vh;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease-in-out;
  opacity: 0;
  transform: translateY(-20px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.floating-soil-box.slide-in {
  opacity: 1;
  transform: translateY(0);
}

.floating-soil-box.slide-out {
  opacity: 0;
  transform: translateY(-20px);
  pointer-events: none;
}

.soil-box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.soil-form-body label {
  font-size: 0.9rem;
  font-weight: 600;
  margin-top: 8px;
  display: block;
  color: #ffffff;
}

.soil-form-body input,
.soil-form-body select {
  width: 100%;
  padding: 6px 8px;
  margin-top: 4px;
  border-radius: 6px;
  border: 1px solid #ffffff;
  background: #ffffff;
  color: white;
  outline: none;
}

.top-bar {
  background-color: #f8f8f8;
  padding: 10px 15px;
  border-bottom: 1px solid #dcdcdc;
}

.ion-item {
  --background: #ffffff;
  border-radius: 8px;
  --inner-padding-end: 8px;
  --inner-padding-start: 8px;
}

.ion-label {
  font-weight: 600;
  font-size: 13px;
}

.ion-select {
  font-size: 14px;
}

.map-container {
  width: 100%;
  height: calc(100vh - 180px);
}

